<!DOCTYPE html>

<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">TUT Global House</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/about/">About</a></li>
        </ul>
      </div>
    </nav>
    {{ content }}
  </body>
</html>
